.container {
    margin-top: 0;
    overflow-y: hidden;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
  }
  
  .flexContainer {
    display: flex;
    margin-left: 16px;
    flex-direction: column;
  }
  
