.container {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    padding-bottom: 10px;
    overflow: auto;

  }
  
  .header {
    padding: 10px 16px;
    background: blue 0% 0% no-repeat padding-box;
    min-height: 40px;
    text-align: left;
    letter-spacing: -0.11px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
  }
  
  .rootWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    
  }

  .addTask {
    cursor: pointer;
    display: inline-flex;
    color: white;
    font-size: 5vh;
    margin-right: 4%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  
  .title {
    display: inline-flex;
    color: white;
    font-size: 4vh;
    margin-right: 4%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    padding-left: 20px;
  }
  
  
  
